.user-card {
   width: 400px;
   height:400px;
   color: #fff;
   background-color: #222;
   border: 2px solid #fff;
   border-radius: 8px;
   padding:20px;
   text-align: center;
}

.user-card__button{
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.user-card__button:hover {
  opacity: 0.9;
}

.user-card__image{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;

}